---
import Base from '../layouts/Base.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import Servicios from '../components/Servicios.astro'
import Planes from '../components/Planes.astro'
import Cotizador from '../components/Cotizador.astro'
import Contacto from '../components/Contacto.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <Servicios />
    <Planes />
    <Cotizador />
    <Contacto />
  </main>
  <Footer />
</Base>
